body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Header */
header {
  background: #0a0a23;
  color: #fff;
  padding: 15px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
.logo {
  font-size: 24px;
  font-weight: 600;
}
nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}
nav a:hover, nav a.active {
  color: #ffcb05;
}

 .main-content {
  margin-top: 80px; /* or any other value you prefer */
  transition: margin-top 0.5s ease-in-out;
  padding: 20px;
  height: 100vh;        
}       

.main-content h1 {
  font-size: 25px;
  margin-bottom: 5px;
            
}

.main-content p {
  font-size: 15px;
  margin-bottom: 10px;
}
        

/* Footer */
footer {
  background: #0a0a23;
  color: white;
  margin-top: auto;
  padding: 40px 8% 20px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-content h3 {
  margin-bottom: 10px;
}
.footer-content ul {
  list-style: none;
}
.footer-content ul li {
  margin-bottom: 6px;
}
.footer-content ul li a {
  color: white;
  text-decoration: none;
}
.socials a {
  margin-right: 15px;
  font-size: 1.4rem;
  color: white;
  transition: 0.3s;
}
.socials  a:hover i.fa-facebook {
    color: #1717e3;
}

.socials  a:hover i.fa-instagram {
    color: rgb(211, 6, 160);
}

.socials a:hover i.fa-twitter {
    color: rgb(14, 207, 241);
}
.footer-note {
  text-align: center;
  margin-top: 25px;
  font-size: 0.9rem;
  color: #bbb;
}
